body {
	text-align: center;
	font: 'Raleway',sans-serif;
	text-transform: uppercase;
	top:15%;
	letter-spacing: .5em;
	background:linear-gradient(to right,red,yellow);
}

h1{
	color: rgba(0,0,0,.5);
	letter-spacing: 0.5em;
}
h2{
	color: rgba(0,0,0,.5);
	letter-spacing: 0.1em;
}

